/* Reference for creating columngs: https://www.w3schools.com/howto/howto_css_three_columns.asp */

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  }


.columnt {
    float: left;
  }.left, .right {
    width: 10%;
  }.middle {
    width: 30%;
  }

  .columnt1 {
    float: left;
    width: 10%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


/* .column {
    float: left;
    width: 50%;
  } */
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */


  .columng {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .columng2 {
    float: left;
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }