<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <script src="https://cdn.jsdelivr.net/npm/vega@5.21.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.2.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.20.2"></script>

  <link rel="stylesheet" href="../static/css/style1.css" />

</head>

<body>


  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">1930</a>
      <a href="#">1950</a>
      <a href="#">2018</a>
    </div>
  </div>

  <div id="chart"></div>
  
  <div id="vis"></div>
  

      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

      <!-- <script type="text/javascript" src="../static/js/script.js"></script> -->

      <script src="../static/js/wc.js"></script>
      <!-- <script src="../static/js/script.js"></script> -->
      <script src="../static/js/scriptwc.js"></script>


</body>

</html>
